<!DOCTYPE html>
<!--This is the base document for every html page in this project-->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!--stylesheet-->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <p class="flask-message">{{ message }}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}
    {% block content %}
    {% endblock %}
</body>

</html>