{% extends 'base.html' %}

{% block title %}Ethereum{% endblock %}

{% block content %}
<h1 class="coin-title">Ethereum</h1>
<div class="info-box">
    <h2>”Blockchain 2.0”</h2>
    <h3>Current Trading Price as of {{ date_and_time }} is <br />{{ price }}</h3>
    <p>Ethereum is a decentralized computing platform that uses ETH (also called Ether)
        to pay transaction fees (or “gas”). Developers can use Ethereum to run decentralized
        applications (dApps) and issue new crypto assets, known as Ethereum tokens.<br />
        <a href="https://www.coinbase.com/price/ethereum">(Coinbase, 2020)</a>
    </p>

    <h4><a href="{{ white_paper }}">Whitepaper</a></h4>
    <a href="{{ url_for('welcome_page') }}">
        <button class="return-home-button">Return Home</button>
    </a>
</div>
{% endblock %}