{% extends 'base.html' %}

{% block title %}Update Password{% endblock %}

{% block content %}
<div class="info-box">
    <div class="form">
        <h1>Update Password for {{ session['name'] }}</h1>
        <form class="register-form" method="POST">
            <input type="password" name='current_password' placeholder="Current Password" />
            <input type="password" name='new_password' placeholder="New Password" />
            <button type="submit">Change</button>
        </form>
        <div style="padding:10px"></div>
        <a href="{{ url_for('welcome_page') }}"><button type="button">Go back home</button></a>
    </div>
</div>
{% endblock %}