.main-title {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  font: normal 50px / normal Verdana, Geneva, sans-serif;
  color: rgb(51, 51, 51);
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  letter-spacing: 3px;
  text-shadow: -3px 0 1px rgb(30, 242, 241), 3px 0 1px rgb(246, 5, 10);
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
}

ul,
ol {
  list-style-position: inside;
}

.coin-title {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  margin: 0 auto;
  padding-bottom: 30px;
  border: none;
  font: normal 82px / normal "Anton", Helvetica, sans-serif;
  color: rgb(112, 112, 112);
  text-align: center;
  text-transform: uppercase;
  -o-text-overflow: clip;
  text-overflow: clip;
  letter-spacing: 10px;
  text-shadow: 4px 4px 0 rgb(238, 238, 238), 6px 6px 0 rgb(112, 112, 112);
}

.info-box {
  align-items: center;
  text-align: center;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  margin: 0 auto;
  width: 640px;
  padding: 100px;
  overflow: auto;
  border: none;
  -webkit-border-radius: 3px / 5px;
  border-radius: 3px / 5px;
  font: normal 16px/1 Verdana, Geneva, sans-serif;
  color: rgba(0, 0, 0, 1);
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: #f9f9f9;
  -webkit-box-shadow: 1px 1px 4px 4px rgba(180, 180, 180, 1);
  box-shadow: 1px 1px 4px 4px rgba(180, 180, 180, 1);
  text-shadow: 1px 1px 1px rgba(249, 249, 249, 1);
  text-decoration: none;
}

.return-home-button {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  padding: 0 20px;
  border: none;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  font: normal normal bold 15px/40px "Lucida Console", Monaco, monospace;
  color: black;
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgb(221, 221, 221);
  -webkit-box-shadow: 0 1px 0 0 rgb(119, 119, 119), 0 2px 0 0 rgb(119, 119, 119),
    0 3px 0 0 rgb(119, 119, 119), 0 4px 0 0 rgb(119, 119, 119),
    0 5px 0 0 rgb(119, 119, 119), 0 6px 0 0 rgb(119, 119, 119),
    0 0 5px 0 rgba(0, 0, 0, 0.0980392), 0 1px 3px 0 rgba(0, 0, 0, 0.298039),
    0 3px 5px 0 rgba(0, 0, 0, 0.2), 0 5px 10px 0 rgba(0, 0, 0, 0.247059),
    0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 20px 20px 0 rgba(0, 0, 0, 0.14902);
  box-shadow: 0 1px 0 0 rgb(119, 119, 119), 0 2px 0 0 rgb(119, 119, 119),
    0 3px 0 0 rgb(119, 119, 119), 0 4px 0 0 rgb(119, 119, 119),
    0 5px 0 0 rgb(119, 119, 119), 0 6px 0 0 rgb(119, 119, 119),
    0 0 5px 0 rgba(0, 0, 0, 0.0980392), 0 1px 3px 0 rgba(0, 0, 0, 0.298039),
    0 3px 5px 0 rgba(0, 0, 0, 0.2), 0 5px 10px 0 rgba(0, 0, 0, 0.247059),
    0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 20px 20px 0 rgba(0, 0, 0, 0.14902);
  text-shadow: 0 1px 0 #ffffff;
}

.return-home-button:hover {
  background: #ffffff;
}

.return-home-button:active {
  margin: 6px 0 0;
  background: rgb(221, 221, 221);
  -webkit-box-shadow: 0 -1px 10px 0 rgba(0, 0, 0, 0.247059),
    0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 14px 20px 0 rgba(0, 0, 0, 0.14902);
  box-shadow: 0 -1px 10px 0 rgba(0, 0, 0, 0.247059),
    0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 14px 20px 0 rgba(0, 0, 0, 0.14902);
}

.return-home-button:focus {
  background: rgb(221, 221, 221);
}

.return-home-button a {
  text-decoration: none;
}

table.coin_table {
  font-family: Verdana, Geneva, sans-serif;
  border: 1px solid #ffffff;
  width: 350px;
  height: 200px;
  text-align: center;
  text-shadow: none;
  border-collapse: collapse;
  margin: 0 auto;
}

table.coin_table td,
table.coin_table th {
  border: 1px solid #ffffff;
  padding: 3px 2px;
}

table.coin_table tbody td {
  font-size: 13px;
}

table.coin_table tr:nth-child(even) {
  background: #caf5d0;
}

table.coin_table thead {
  background: #4ca462;
  border-bottom: 5px solid #ffffff;
}

table.coin_table thead th {
  font-size: 17px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  border-left: 2px solid #ffffff;
}

table.coin_table thead th:first-child {
  border-left: none;
}

table.coin_table tfoot td {
  font-size: 14px;
}

.responsive-img {
  width: 100%;
  max-width: 500px;
  height: auto;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: darkslategrey;
  font-family: "Ubuntu", "Lucida Grande", "Lucida Sans Unicode", "Geneva",
    "Verdana", sans-serif;
  -webkit-border-radius: 13px;
  border-radius: 13px;
}

.nav li {
  float: left;
}

.nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px 17px;
  text-decoration: none;
}

.nav li a:hover {
  background-color: #4c7f7f;
}

.nav li p {
  font-family: monospace;
  color: white;
}

.flask-message {
  width: 50%;
  margin: 20px auto;
  padding: 10px;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 0 15px 5px #ccc;
  background-color: cadetblue;
}

.flask-message h2 {
  font-size: 14px;
  font-family: "Ubuntu", "Lucida Grande", "Lucida Sans Unicode", "Geneva",
    "Verdana", sans-serif;
  color: white;
  text-align: center;
}
